
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
</head>
<body class="bg-lime">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container" style="margin-top: 50px;">
                    <div class="row justify-content-center mt-5">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-4 rounded-lg mt-6">

                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Inicie Sesión</h3></div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <img class="img-fluid" src="~/Imagenes/Logos/logo_pethouse.png" width="290" height="290" />
                                    </div>
                                        <form action="@Url.Content("~/Login/Index")" method="post">
                                            @Html.AntiForgeryToken()
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputEmail" name="NCorreo" type="email" placeholder="name@example.com" @*value="pruebas@gmail.com"*@ value="admin@example.com" />
                                                <label for="inputEmail">Correo</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputPassword" name="NContrasena" type="password" placeholder="Contraseña" @*value="12345"*@ autocomplete="off" value="admin123" />
                                                <label for="inputPassword">Contraseña</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                @{if (ViewBag.Error != null)
                                                    {
                                                        <div class="alert alert-danger" role="alert">
                                                            @ViewBag.Error
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="d-flex align-items-center justify-content-center mt-4 mb-2">
                                                <button class="btn btn-success btn-block " type="submit">Ingresar</button>
                                            </div>
                                        </form>

                                    </div>

                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a id="publicidad_cuenta" href="@Url.Action("Registrarse","Login")">¿No tienes una cuenta? Registrate</a></div>

                                    </div>
                                </div>
                        </div>
                    </div>
                        
                </div>
            </main>
            
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="row mt-2">
                        <div class="col-sm-12 text-center">
                            <p class="mb-0">Todos los derechos reservados ©<a id="publicidad" href="https://ouo.io/RK1tRH" target="_blank" class="ml-1"><b>Pet-House</b></a></p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Pet-House 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>

    </script>
</body>
</html>
